.carousel.carousel-slider .control-arrow {
    background-color: darkblue;

}

.carousel.carousel-slider .control-arrow:hover {
    background-color: purple;

}

@keyframes sliderWrapperAnimation {
    from {
        background-color: rgba(41, 41, 201, 0.514);
    }

    to {
        background-color: rgba(174, 41, 201, 0.514);
    }
}

.slider-wrapper {
    animation-name: sliderWrapperAnimation;
    animation-duration: 11s;
}